* {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    top: 0;
    flex-direction: column;
    font-family: 'Bacasime Antique', serif;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-right: 20px;
}

.byWho{
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
    }
    
    header a{
        font-size: 30px;
    }


  }

/*banner*/

.banner {
    margin-top: 10vh;
}

.banner img{
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    .banner img {
        max-width: 350px;
    }
  }

/*thing*/
  .content {
    display: none;
    margin-top: 10px;
  }

  .content img {
    max-width: 600px;
  }

  .content img:hover {
    filter: blur(2.5px);
  }

  ul li {
    color: white;
    font-size: 30px;
    list-style: none;
  }

  ul li:hover {
    color: #daffb7;
    font-weight: bold; /* Agrega negrita al pasar el ratón */
  }

  .container {
    display: flex;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .item {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .item.hovered,
  .item.selected {
    text-decoration: underline;
  }
  

  .content.visible {
    display: block;
  }


  

  @media screen and (max-width: 768px) {
    ul li {
        font-size: 20px;
    }

    .container {
      display: block;
    }

    .content {
        margin-top: 40px;
    }

    .content img {
        max-width: 200px;
    }
  }

/*footer*/
  
  .footer {
    padding: 20px;
  }
  
  .footer-content {
    text-align: center;
  }

  .footer-content a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  
  @media screen and (max-width: 767px) {
    .footer {
      text-align: center;
    }
    
    .footer-content {
      display: inline-block;
    }
  }


/* Estilo para la animación */
@keyframes blurAnimation {
    0% {
      filter: blur(0);
      opacity: 1;
    }
    100% {
      filter: blur(10px);
      opacity: 0;
    }
  }
  
  /* Aplica la animación al elemento h1 */
  .blur-animation {
    animation: blurAnimation 2s;
  }

  /* Estilo para el texto seleccionado */
::selection {
    color: black;
    background-color: #daffb7;
  }

